extends layout

block content
  #banner.page-header 
    .row 
      .col-lg-6 
        h1 
          | MekanBul 
          small &nbsp; Civardaki Mekanları Keşfet!
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Bilgisayar Mühendisliği
          small &nbsp; 
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star  
          span.glyphicon.glyphicon-star  
          span.glyphicon.glyphicon-star  
          span.glyphicon.glyphicon-star-empty 
        span.badge.pull-right.badge-default 10km
        p.address SDÜ Batı Kampüsü
        p 
          span.label.label-warning Web Teknolojileri
          | &nbsp;
          span.label.label-warning Sinan Hoca     
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 

      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Endüstri Mühendisliği
          small &nbsp; 
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star  
          span.glyphicon.glyphicon-star  
          span.glyphicon.glyphicon-star-empty  
          span.glyphicon.glyphicon-star-empty 
        span.badge.pull-right.badge-default 8km
        p.address SDÜ Batı Kampüsü
        p 
          span.label.label-warning Verimlilik
          | &nbsp;
          span.label.label-warning Halil Hoca     
  .row 
    .row.list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item 
        h4 
          a(href='/mekan') Elektrik Mühendisliği
          small &nbsp; 
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star  
          span.glyphicon.glyphicon-star-empty  
          span.glyphicon.glyphicon-star-empty  
          span.glyphicon.glyphicon-star-empty 
        span.badge.pull-right.badge-default 15km
        p.address SDÜ Batı Kampüsü
        p 
          span.label.label-warning Elektrik Devre Temelleri
          | &nbsp;
          span.label.label-warning Gül Hoca     
    
